body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7a9caa;
}

.menu {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    background-color: #e0d7d7;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}


.item1 {
    background-color: #7cd6d6;
    width: 150px;
    margin: 15px;
}

.item2 {
    background-color: #6dbbbb;
    width: 150px;
    margin: 15px;
}

a {
    display: block;
    width: 300px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #333;
    border: 1px solid #333;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

a:hover {
    background-color: #333;
    color: #ccc;
}

.mitizq {
    border-right: 1px black;
}

.encabezado {
    display: flex;
    padding: 10px;
    background-color: #70a2c4;
    justify-content: space-around;
    width: 100%;
    border: 1px solid black;
    margin: 20px;
}

.fila {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.columna {
    flex: 1;
    padding: 10px;
}

.columna:last-child {
    border-right: none;
}

.botones {
    display: flex;
    padding: 15px;
    align-items: center;
    height: 50px;
}

.descriptivo {
    text-align: center;
    margin-top: 10px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 3px;
    align-items: center;
    text-align: center;
    justify-content: center;
}